.create {
  &__dialog {
    &__save {
      button {
        background-color: #1A237E !important;
        color: white !important;
        border: 1px solid navajowhite;
      }

    }

    &__close {
      button {
        background-color: #B71C1C !important;
        color: white !important;
        border: 1px solid navajowhite;
      }
    }
  }
}