.profile-cover {
  .v-image__image {
    @extend .with-radius;
  }

  .user-avatar-col {
    position: absolute;
    bottom: -50px;
    width: 100%;
  }
}

.profile-tab-item {
  .theme--light.v-tabs-items {
    background-color: transparent;
  }

  .theme--dark.v-tabs-items {
    background-color: transparent;
  }
}
.dashboard
{
  min-height: 200px;
  padding: 85px 0 85px 0;
  div
  {
    font-size: 30px;
    font-weight:bolder;
    color: #0097a7;
  }
}

.home__tag__slogan
{
  padding: 50px;
  background-color: #363636;
  border-radius: 30px;
  opacity: 0.4;
  color: white;
  width: 100%;
}